PORT=

# MongoDB 
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

#  SMTP (Brevo)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

#  Cloudinary 
CLOUD_NAME=
API_KEY=
API_SECRET=

#  JWT 
JWT_SECRET=

#  Application domain
APP_DOMAIN=http://localhost:3000

